<module code="system">
  <page id="user_mgr" name="用户管理" page-template="qlist" data-set="system/user">
    <component id="qForm" data-set="system/user_DS4Q"/>
  </page>
  <page id="user_create" name="用户添加" page-template="cComb" data-set="system/user" rel-page="user_mgr">
    <component id="cForm" data-set="system/user"/>
    <component id="cList" data-set="system/user_authorize"/>
  </page>
  <page id="user_edit" name="用户修改" page-template="eComb" data-set="system/user" rel-page="user_mgr">
    <component id="eForm" data-set="system/user"/>
    <component id="eList" data-set="system/user_authorize"/>
  </page>
  <page id="user_detail" name="用户查看" page-template="dComb" data-set="system/user" rel-page="user_mgr">
    <component id="dForm" data-set="system/user"/>
    <component id="qList" data-set="system/user_authorize"/>
  </page>
  <page id="organize_mgr" name="组织管理" page-template="editByCategory" data-set="system/organize"/>
  <page id="organize_create" name="组织创建" page-template="create" data-set="system/organize" rel-page="organize_mgr"/>
  <page id="organize_edit" name="组织修改" page-template="edit" data-set="system/organize" rel-page="organize_mgr"/>
  <page id="organize_detail" name="组织明细" page-template="edit" data-set="system/organize" rel-page="organize_mgr"/>
  <page id="role_mgr" name="角色管理" page-template="qlist" data-set="system/role">
    <component id="qForm" data-set="system/role_DS4Q"/>
  </page>
  <page id="role_create" name="角色添加" page-template="cComb" data-set="system/role" rel-page="role_mgr">
    <component id="cForm" data-set="system/role"/>
    <component id="cList" data-set="system/role_authorize"/>
  </page>
  <page id="role_edit" name="角色修改" page-template="eComb" data-set="system/role" rel-page="role_mgr">
    <component id="eForm" data-set="system/role"/>
    <component id="eList" data-set="system/role_authorize"/>
  </page>
  <page id="role_detail" name="角色查看" page-template="dComb" data-set="system/role" rel-page="role_mgr">
    <component id="dForm" data-set="system/role"/>
    <component id="qList" data-set="system/role_authorize"/>
  </page>
  <page id="menu_mgr" name="菜单管理" page-template="editByCategory" data-set="system/menu"/>
  <page id="menu_create" name="菜单创建" page-template="create" data-set="system/menu" rel-page="menu_mgr"/>
  <page id="menu_edit" name="菜单修改" page-template="edit" data-set="system/menu" rel-page="menu_mgr"/>
  <page id="menu_detail" name="菜单明细" page-template="edit" data-set="system/menu" rel-page="menu_mgr"/>
  <page id="dictionary_mgr" name="字典管理" page-template="qlist" data-set="system/dictionary">
    <component id="qForm" data-set="system/dictionary_DS4Q"/>
  </page>
  <page id="dictionary_create" name="字典添加" page-template="cComb" data-set="system/dictionary" rel-page="dictionary_mgr">
    <component id="cForm" data-set="system/dictionary"/>
    <component id="cList" data-set="system/dictionary_item"/>
  </page>
  <page id="dictionary_edit" name="字典修改" page-template="eComb" data-set="system/dictionary" rel-page="dictionary_mgr">
    <component id="eForm" data-set="system/dictionary"/>
    <component id="eList" data-set="system/dictionary_item"/>
  </page>
  <page id="dictionary_detail" name="字典查看" page-template="dComb" data-set="system/dictionary" rel-page="dictionary_mgr">
    <component id="dForm" data-set="system/dictionary"/>
    <component id="qList" data-set="system/dictionary_item"/>
  </page>
</module>
